<script src="~/Scripts/grid/js/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/grid/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/grid/js/dataTables.jqueryui.js"></script>
<link href="~/Scripts/css/bootstrap.css" rel="stylesheet" />

<link href="~/Scripts/grid/css/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Scripts/grid/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/grid/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Scripts/css/style.css" rel="stylesheet" type="text/css" media="all" />

<div id="fh5co-page">
    <header id="fh5co-header" role="banner" style="background-color:black;">
        <div class="header-inner">
            <a href="/../">
                <img src="~/Scripts/images/imageedit_1_3947092529.png" class="logo" style="float:left; margin-right:1%; height:80px" />
            </a>
            <h1><a href="/../">OmniMerit<span></span></a></h1>
            <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p>
            <nav role="navigation">
                <ul>


                    <li><a href="#" class="home active">Home</a></li>
                    <li><a href="../Default/Index" class="">Logout</a></li>

                   
                </ul>
            </nav>
        </div>

    </header>
    <br /><br /><br /><br /><div></div>
   <table id="result" ></table>
    <div style="padding:1%;text-align:center">
        99 Percentiler Score Card
    </div>
    <table id="percent" class="display" cellspacing="0" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Percentage</th>
                <th>Attempt Rate</th>
                <th>Accuracy</th>
                
               
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>99 Percentiler </td>
                <td>217</td>
                <td>60.28</td>
                <td>62.2</td>
                <td>87.5</td>
                
            </tr>

        </tbody>
    </table>
</div>
<script>
    $.post("/Result/ShowResult/", {}, function (data) {
        debugger;
        if (data != null && data[0] != null) {
            $.noConflict();
            $('#result').DataTable({
                "scrollX": true,
                "paging": false,
                "ordering": false,
                "info": false,
                "decimal": "2",
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false ,
                "iDisplayLength": 5,
                "aaData": data,
                "aoColumns": [
                    
                     { "mData": "Name", "sTitle": "Name" },
                     { "mData": "Institute", "sTitle": "Institute" },
                      { "mData": "No_of_correct_response", "sTitle": "No of correct response" },
                     { "mData": "No_of_Incorrect_response", "sTitle": "No of Incorrect response" },


                   
                  { "mData": "Score", "sTitle": "Score" },
                  { "mData": "Percentage", "sTitle": "Percentage" },
                   { "mData": "AIR", "sTitle": "AIR" },
                  { "mData": "Percentile", "sTitle": "Percentile" },
                  { "mData": "Kanpur_Rank", "sTitle": "Kanpur Rank" },
                   { "mData": "Centre_Rank", "sTitle": "Centre Rank" },
                   { "mData": "Attempt_Rate", "sTitle": "Attempt Rate" },
                { "mData": "Accuracy", "sTitle": "Accuracy" }
                  

                ]
            });
            $('#percent').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "scrollX": true,
               
            "responsive": true
            });

        }
        else {
            window.location.replace("https:www.omnimerit.com");
        }
    });
</script>



