
<link href="~/Scripts/Css/bootstrap.min.css" rel="stylesheet" />
<!-- Font Awesome -->

<link href="~/Scripts/Css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom Theme Style -->

<link href="~/Scripts/Css/custom.min.css" rel="stylesheet" />

<script src="~/Scripts/JavaScripts/jquery.min.js"></script>
<!-- Bootstrap -->

<script src="~/Scripts/JavaScripts/bootstrap.min.js"></script>
<!-- FastClick -->
<!-- Custom Theme Scripts -->
<script src="~/Scripts/JavaScripts/custom.min.js"></script>
<style>
    body {
        background-color: white;
        margin-top: 1%;
    }
</style>

<div class="row">


    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Batch <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Course</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control">
                                <option>Physics</option>
                                <option>Chemistry</option>
                                <option>Math</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Batch Name </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Date</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="date" class="form-control" placeholder="Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">End Date</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="date" class="form-control" placeholder="Code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Maximum Number of Students</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Maximum Number of Students">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Save</button>

                            <button type="reset" class="btn btn-primary">Reset</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Courses <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course</th>
                            <th>Attendance type</th>
                            <th>Minimum % attendance</th>
                            <th>Total Working Day   </th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Physics</td>
                            <td>Daily</td>
                            <td>75%</td>
                            <td>100</td>
                            <td><span class="glyphicon glyphicon-edit">/</span><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Chemistry</td>
                            <td>Daily</td>
                            <td>75%</td>
                            <td>100</td>
                            <td><span class="glyphicon glyphicon-edit">/</span><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Math</td>
                            <td>Daily</td>
                            <td>75%</td>
                            <td>100</td>
                            <td><span class="glyphicon glyphicon-edit">/</span><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

