


<div id="fh5co-page">
    <header id="fh5co-header" role="banner" style="position:fixed">

        <div class="header-inner">
            <a href="/../">
                <img src="~/Scripts/images/imageedit_1_3947092529.png" class="logo" style="float:left; margin-right:1%; height:80px" />
            </a>
            <h1><a href="/../">OmniMerit<span></span></a></h1>
            <a href="/../">
                <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p></a>




                <nav role="navigation">
                    <ul>

                        <li><a href="/Default" class="home active">Home</a></li>


                        <li><a href="" class="scrollBottom">Contact Us </a></li>

                        <li><a href="/Default/Career">Career</a></li>
                        @*<li><a data-toggle="modal" data-target="#myModal"> Login</a></li>*@

                    </ul>
                </nav>
</div>

    </header>
    <div class="fh5co-section-with-image">

        <img src="../../Scripts/images/slide_1.jpg" style="height:1500px !important" alt="" class="img-responsive">
        <div class="mock-box">
            <h1> Mock IIT</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#vtest">View Test</a></li>
                <li><a data-toggle="tab" href="#sol">View Solution</a></li>

            </ul>

            <div class="tab-content">
                <div id="vtest" class="tab-pane fade in active">
                    <br />
                    Test Question
                    @*<ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#phy">Physics</a></li>
                                                <li><a data-toggle="tab" href="#chem">Chemistry</a></li>
                                                <li><a data-toggle="tab" href="#math">Maths</a></li>

                                            </ul>


                                            <div class="tab-content">
                                                <div id="phy" class="tab-pane fade in active"><br />

                                                    <h3>Physics</h3>
                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a data-toggle="pill" href="#phy1">1</a></li>
                                                        <li><a data-toggle="pill" href="#phy2">2</a></li>
                                                        <li><a data-toggle="pill" href="#phy3">3</a></li>
                                                        <li><a data-toggle="pill" href="#phy4">4</a></li>

                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="phy1" class="tab-pane fade in active">
                                                            <p>
                                                                1.	Consider the situation as shown in the figure. A point object O is placed at a distance of 20 cm from a concave lens of focal length 5 cm. Now a concave mirror of radius 9 cm is adjusted on the right side of the lens, so that the final image coincides with the object O. Find the separation between the lens and the mirror.O
                                                                (A)	4 cm	(B)	9 cm	(C)	5 cm	(D)	3 cm
                                                            </p>
                                                            </div>
                                                            <div id="phy2" class="tab-pane fade">
                                                                <p>
                                                                    2.	There is a small air bubble inside a thick lens of glass as shown in the figure. What is the distance between the images of the air bubble as seen by two observers, one in air and other in water? (Given Radius of the curved surface is 5 cm).

                                                                    n = 3/2	n	= 4/3
                                                                    g	w
                                                                    n	air	= 1

                                                                    5c m
                                                                    14 cm
                                                                    (A)   1 cm	(B)	9 cm	(C)   1.5 cm	(D)   4 cm
                                                                </p>

                                                            </div>
                                                        <div id="phy3" class="tab-pane fade">
                                                            <p>3.	A hollow, conducting spherical shell of inner radius R1 and outer radius R2 encloses a charge q inside, which is located at a distance d &lt; R1 from the Centre of the spheres. The potential at the Centre of the shell is
                                                                                                                                                                            R
                                                                                                                                                                            1
                                                                                                                                                                            q d R
                                                                                                                                                                            2
                                                                                                                                                                            (A) kq
                                                                                                                                                                            d
                                                                                                                                                                            (C) O
                                                                                                                                                                            (B) kq
                                                                                                                                                                            (D) kq
                                                                                                                                                                             1  1  1 
                                                                                                                                                                             R R 1 d 
                                                                                                                                                                             2 
                                                                                                                                                                             1  1 
                                                                                                                                                                             
                                                                                                                                                                            R 2 R1 
                        </p>
                                                        </div>
                                                        </div>


                                            </div>
                                                <div id="chem" class="tab-pane fade">
                                                    Chemistry
                                                </div>
                                                <div id="math" class="tab-pane fade">
                                                    Math
                                                </div>
                                        </div>*@
                    @*<div style="margin-right:auto; margin-left:auto;">
                        <object id="obj" type="application/pdf" data="~/StudyMaterial/IITMAINMOCK.pdf#toolbar=0&navpanes=0&statusbar=0&view=Fit;readonly=true;" style="width:800px; height:800px;"><embed src="~/StudyMaterial/12_phy_ch2.pdf#toolbar=0&navpanes=0&statusbar=0&view=Fit;readonly=true;" type="application/pdf" /></object>
                    </div>*@
                    <iframe src="https://docs.google.com/gview?url=https://www.omnimerit.com/StudyMaterial/IITMAINMOCK.pdf&embedded=true" style="width:100%; height:500px" frameborder="0"></iframe>
                    <a href="~/StudyMaterial/IITMAINMOCK.pdf">Download</a>
                </div>
                <div id="sol" class="tab-pane fade">
                    <h3>Solution</h3>
                    <div style="margin-right:auto; margin-left:auto;">

                        @*<object id="obj" type="application/pdf" data="#toolbar=0&navpanes=0&statusbar=0&view=Fit;readonly=true;" style="width:800px; height:800px;"><embed src="~/StudyMaterial/12_phy_ch2.pdf#toolbar=0&navpanes=0&statusbar=0&view=Fit;readonly=true;" type="application/pdf" /></object>*@
                        @*<iframe src="https://drive.google.com/file/d/0B0dv-5OKW23OdWZ0MUQyUHpUQlE/view?usp=sharing" style="width:600px; height:500px;" frameborder="0"></iframe>*@
                        
                        <iframe src="https://docs.google.com/gview?url=https://www.omnimerit.com/StudyMaterial/IITMAINSOLUTION.pdf&embedded=true" style="width:100%; height:500px" frameborder="0"></iframe> 
                    </div>
                    <a href="~/StudyMaterial/IITMAINSOLUTION.pdf">Download</a>
                </div>
            </div>

        </div>


    </div>
        <footer id="fh5co-footer" role="contentinfo">

            <div class="container">
                <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <h3>Contact us </h3>
                    <h4><i class="icon-envelope"></i> &nbsp; support@omnimerit.com</h4>
                    <h4><i class="icon-phone"></i>​&nbsp;+91 98102 72159</h4>


                </div>



                <div class="col-md-12 fh5co-copyright text-center">
                    <p>&copy; 2017  All Rights Reserved. </p>
                </div>

            </div>
        </footer>

        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner">
                <i class="icon-arrow-up"></i>
            </span>
        </div>
    </div>

  